name: Backup and Restore
run-name: ${{ github.actor }} running backup and restore operation
on: 
  workflow_dispatch:
    inputs:
      hostname:
        description: 'Hostname'
        required: true
        type: string
      ref:
        description: 'Ref'
        required: false
        type: string
        default: 'master'
  workflow_call:
    inputs:
      hostname:
        description: 'Hostname'
        required: true
        type: string
      ref:
        description: 'Ref'
        required: false
        type: string
        default: 'master'
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: github/backup-utils-private
        ref: ${{ inputs.ref }}
    - run: docker build . --file Dockerfile --tag backup-utils 
    - run: docker save backup-utils -o backup-utils.tar
    - uses: actions/upload-artifact@v4
      with:
        name: backup-utils
        path: backup-utils.tar
  backup-utils-backup-and-restore:
    needs: build
    runs-on: ubuntu-latest
    env:
        SSH_KEY: ${{ secrets.BACKUP_SSH_KEY }}
    steps:
    - uses: actions/download-artifact@v3
      with:
        name: backup-utils
    - name: Load docker container 
      run: docker load -i backup-utils.tar
    - uses: actions/checkout@v4
    - name: Create backup directory
      run: mkdir "$HOME"/ghe-backup-data
    - name: set up ssh SSH_KEY
      run: echo -e "${SSH_KEY}\n" > "$HOME"/backup
    - name: set up ssh key permissions
      run: chmod 0600 "$HOME"/backup
    - name: change version
      run: echo "3.8.0" > "$HOME"/version
    - name: Perform backup
      run: |
        docker run -e "GHE_HOSTNAME=${{ inputs.hostname }}" \
        -e "GHE_DATA_DIR=/data" \
        -e "GHE_EXTRA_SSH_OPTS=-p 122 -i /ghe-ssh/id_rsa -o ServerAliveInterval=30 -o ServerAliveCountMax=12000 -o StrictHostKeyChecking=no" \
        -e "GHE_NUM_SNAPSHOTS=15" \
        -v "$HOME/ghe-backup-data:/data" \
        -v "$HOME/backup:/ghe-ssh/id_rsa" \
        -v "$HOME/version:/backup-utils/share/github-backup-utils/version" \
        --rm \
        backup-utils ghe-backup
    - name: Prepare for restore
      run: ssh -p122 -i "$HOME"/backup -o StrictHostKeyChecking=no admin@${{ inputs.hostname }} "ghe-maintenance -s"
    - name: Restore data to instance
      run: |
        docker run -e "GHE_HOSTNAME=${{ inputs.hostname }}" \
        -e "GHE_DATA_DIR=/data" \
        -e "GHE_EXTRA_SSH_OPTS=-p 122 -i /ghe-ssh/id_rsa -o ServerAliveInterval=30 -o ServerAliveCountMax=12000 -o StrictHostKeyChecking=no" \
        -e "GHE_NUM_SNAPSHOTS=15" \
        -v "$HOME/ghe-backup-data:/data" \
        -v "$HOME/backup:/ghe-ssh/id_rsa" \
        -v "$HOME/version:/backup-utils/share/github-backup-utils/version" \
        --rm \
        backup-utils ghe-restore ${{ inputs.hostname }}
    - name: Reset maintenance mode after restore
      run: ssh -p122 -i "$HOME"/backup -o StrictHostKeyChecking=no admin@${{ inputs.hostname }} "ghe-maintenance -u"
  
