---
name: Build and Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version - patch version of the release (e.g. x.y.z)'
        required: true
        type: string
      draft:
        description: 'Draft - true if the release should be a draft'
        required: true
        type: boolean
        default: true

jobs:
  # build:
    # runs-on: ubuntu-latest
    # outputs:
    #   rc-app-token: ${{ steps.app-token.outputs.token }}
    # steps:
    #   - uses: actions/create-github-app-token@v1
    #     id: app-token
    #     with:
    #       app-id: ${{ vars.RELEASE_CONTROLLER_APP_ID }}
    #       private-key: ${{ secrets.RELEASE_CONTROLLER_APP_PRIVATE_KEY }}
    #       owner: ${{ github.repository_owner }}
    #       repositories: "backup-utils-private"
    #   - name: Checkout backup-utils-private
    #     uses: actions/checkout@v4
    #     with:
    #       token: ${{ steps.app-token.outputs.token }}
    #   - name: Install dependencies
    #     run: |
    #       sudo apt-get update -y
    #       sudo apt-get install -y moreutils debhelper help2man devscripts gzip
    #   - name: Create tag # this is required for the build scripts
    #     run: |
    #       git config user.name "${{ github.actor }}"
    #       git config user.email "ghes-releases-team@github.com"
    #       git tag -a "v${{ github.event.inputs.version }}" -m "v${{ github.event.inputs.version }}"
    #       git push origin "v${{ github.event.inputs.version }}"
    #   - name: Package deb
    #     run: |
    #       ./script/package-deb
    #   # many need to remove this once release-notes compilation is automated
    #   - name: Rename deb artifact
    #     run: |
    #         for file in dist/github-backup-utils_*_all.deb; do
    #           if [[ -f "$file" ]]; then
    #             mv "$file" "dist/github-backup-utils_${{ github.event.inputs.version }}_all.deb"
    #           fi
    #         done
    #   - name: Upload deb artifact
    #     uses: actions/upload-artifact@v3
    #     with:
    #       name: github-backup-utils_${{ github.event.inputs.version }}_all.deb
    #       path: |
    #         dist/github-backup-utils_${{ github.event.inputs.version }}_all.deb
    #   - name: Package tarball
    #     run: |
    #       ./script/package-tarball
    #   - name: Upload tarball artifact
    #     uses: actions/upload-artifact@v3
    #     with:
    #       name: github-backup-utils-v${{ github.event.inputs.version }}.tar.gz
    #       path: |
    #         dist/github-backup-utils-v${{ github.event.inputs.version }}.tar.gz
  release:
    # needs: build
    runs-on: ubuntu-latest
    outputs:
      commit_hash: ${{ steps.empty-commit.outputs.commit_hash }}
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.RELEASE_CONTROLLER_APP_ID }}
          private-key: ${{ secrets.RELEASE_CONTROLLER_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "backup-utils,backup-utils-private"
      - name: Get major-feature from version
        id: get-major-feature
        run: |
          echo "MAJOR_FEATURE=$(echo ${{ github.event.inputs.version }} | cut -d '.' -f 1,2)" >> "$GITHUB_ENV"
      - name: Verify major-feature
        run: |
          echo "major_feature: $MAJOR_FEATURE"
      - name: Checkout backup-utils
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          repository: github/backup-utils
      - name: Create empty commit
        uses: stefanzweifel/git-auto-commit-action@v4
        id: empty-commit
        with:
          branch: ${{ env.MAJOR_FEATURE }}-stable
          commit_message: "Test ${{ github.event.inputs.version }} release commit"
          commit_user_name: "release-controller[bot]"
          commit_user_email: "223695+release-controller[bot]@users.noreply.github.com"
          commit_options: "--allow-empty"
          push_options: "--force"
          skip_dirty_check: true
      # - name: Resolve release commit
      #   id: resolve-release-commit
      #   run: |
      #     if [[ -z "${{ github.event.inputs.release_commit_branch }}" ]]; then
      #       echo "Using empty commit sha for release commit"
      #       echo "release-ref-or-commit=\"${{ steps.empty-commit.outputs.commit_hash }}\"" >> "$GITHUB_OUTPUT"
      #     else
      #       echo "Using provided commit sha for release commit"
      #       echo "release-ref-or-commit=\"${{ github.event.inputs.release_commit_branch }}\"" >> "$GITHUB_OUTPUT"
      #     fi
      - name: Checkout backup-utils-private for release notes
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}
          repository: github/backup-utils-private
      # - name: Download deb artifact
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: github-backup-utils_${{ github.event.inputs.version }}_all.deb
      # - name: Download tarball artifact
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: github-backup-utils-v${{ github.event.inputs.version }}.tar.gz
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ steps.app-token.outputs.token }}
          owner: github
          repo: backup-utils
          name: |
            GitHub Enterprise Server Backup Utilities v${{ github.event.inputs.version }}
          artifacts: |
            github-backup-utils-v${{ github.event.inputs.version }}.tar.gz,
            github-backup-utils_${{ github.event.inputs.version }}_all.deb
          tag: v${{ github.event.inputs.version }}
          commit: ${{ env.MAJOR_FEATURE }}-stable
          bodyFile: release-notes/${{ github.event.inputs.version }}.md
          draft: ${{ github.event.inputs.draft }}
          allowUpdates: true
          artifactContentType: "raw"