name: Run Integration Tests

on: 
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: ['master', 'enterprise-[0-9]*.[0-9]*-release', 'enterprise-[0-9]*.[0-9]*.[0-9]*-release']
  workflow_dispatch:
    inputs:
      target-branch:
        description: 'enterprise2 branch to test against'
        required: true
      source-branch:
        description: 'backup-utils-private topic branch to test'
        required: true

# Get target and source branch from different variables depending on how it was triggered
env:
  TARGET_BRANCH: '${{ github.event.inputs.target-branch || github.base_ref }}'
  SOURCE_BRANCH: '${{ github.event.inputs.source-branch || github.head_ref }}'

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jankyJobName:
        - enterprise2-backup-utils-binary-backup
        - enterprise2-backup-utils-migration
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Queue ${{ matrix.jankyJobName }} build
        uses: ./.github/actions/proxy-janky-build
        id: proxy-janky-build
        with:
          janky-token: '${{ secrets.API_AUTH_TOKEN }}'
          job-name: '${{ matrix.jankyJobName }}'
          branch-name: '${{ env.SOURCE_BRANCH }}'
          # enterprise2 target branch is same as target branch for PR (either master or enterprise-[0-9]*.[0-9]*-release)
          envVars: "JANKY_ENV_BACKUP_UTILS_BRANCH=${{ env.SOURCE_BRANCH }},JANKY_ENV_ENTERPRISE2_BRANCH=${{ env.TARGET_BRANCH }}"

  # Cluster integration tests are optional based on label and PR titles
  cluster-integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jankyJobName:
        - enterprise2-backup-utils-cluster-binary-backup
        - enterprise2-backup-utils-cluster-migration
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Queue ${{ matrix.jankyJobName }} build
        if: |
          github.event_name == 'workflow_dispatch' ||
          contains(github.event.pull_request.title, '[cluster]') ||
          contains(github.event.pull_request.labels.*.name, 'cluster')
        uses: ./.github/actions/proxy-janky-build
        id: proxy-janky-build
        with:
          janky-token: '${{ secrets.API_AUTH_TOKEN }}'
          job-name: '${{ matrix.jankyJobName }}'
          branch-name: '${{ env.SOURCE_BRANCH }}'
          # enterprise2 target branch is same as target branch for PR (either master or enterprise-[0-9]*.[0-9]*-release)
          envVars: "JANKY_ENV_BACKUP_UTILS_BRANCH=${{ env.SOURCE_BRANCH }},JANKY_ENV_ENTERPRISE2_BRANCH=${{ env.TARGET_BRANCH }}"
